<html>
<head>
    <title>AI DETECT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/bootstrap.min.css') }}">
    <script src="{{url_for('static', filename='styles/js/bootstrap.bundle.min.js')}}"></script>
</head>
<body>
<header>
    <!-- Navbar -->
    <nav>
        <div class="container-fluid">
    <span class="navbar-text">
      Ultimate Project Company
    </span>
        </div>
    </nav>
    <!-- Navbar -->

</header>
<div class="container">{% block content %}{% endblock %}</div>


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://www.upc.co.jp.com/">Ultimate Project Company</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>

</html>