{% extends "base.html" %}

{% block content %}
<div >
    <form method="post">
        <div class="row">
            <div class="col-sm-3">
                <button type="submit" class="btn-login" name="btn_control" value="btn_evolve">モデル情報</button>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn-login" name="btn_control" value="btn_add">新製品追加</button>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn-login" name="btn_control" value="btn_change">でサイン変更</button>
            </div>
              <div class="col-sm-3">
                <button type="submit" class="btn-login" name="btn_control" value="btn_change">モデル改善</button>
            </div>
   </div>
    </form>
</div>
{% endblock %}
